node_modules/

build/
_deps/
cmake-build-*/
MyFirstPlugin/build/
MyFirstPlugin/build-ninja/
*.user
.vs/
.idea/

# Sound factory worker artifacts (WAV batches, refs)
disklordz/sound-factory/out/
disklordz/sound-factory/refs/
