MyFirstPlugin/build/
MyFirstPlugin/build-ninja/
*.user
.vs/
.idea/
disklordz/automation/.env
disklordz/airtable/.payloads/
**/__pycache__/
drummachines/_cache/
drummachines/**/*.7z
drummachines/samples/*
!drummachines/samples/.gitkeep
disklordz/automation/.venv/
